#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* 전체 컨테이너 */
.todo-container {
  margin: auto;
  padding: 0 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 2px #00000015;
  border-radius: 0.8rem;
}

/* Todo Header */
.todo-header h2 {
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Todo List, Todo */
.todo-list-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.todo-list-input ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.todo-list-input li {
  padding: 0.75rem 1.2rem;
  border: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3rem;
  gap: 1.5rem;
}

.todo-list-input li:hover {
  background-color: #f8f9fa;
}

.todo-list-input input {
  padding: 0 0.5rem;
  align-self: stretch;
  border: 1px solid #e5e7eb;
  border-radius: 0.3rem;
}

.todo-list-input .buttons {
  display: flex;
  gap: 0.5rem;
}

.buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 0.9rem;
}

.buttons .edit-btn {
  background-color: #2563eb;
  color: #ffffff;
}
.buttons .edit-btn:hover {
  background-color: #1d4ed8;
}

.buttons .delete-btn {
  border: 1px solid #e5e7eb;
  background-color: #f3f4f6;
  color: #1f2937;
}
.buttons .delete-btn:hover {
  background-color: #e5e7eb;
}

/* Todo Input */
.todo-input {
  width: 100%;
  height: 2.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.todo-input input {
  padding: 0 0.5rem;
  flex-grow: 1;
  align-self: stretch;
  border: 1px solid #e5e7eb;
  border-radius: 0.3rem;
}

.todo-input button {
  align-self: stretch;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  background-color: #2563eb;
  color: #ffffff;
}

.todo-input button:hover {
  background-color: #1d4ed8;
}
